@{
    ViewData["Title"] = "Add Claim";
}

@model ContractMonthlyClaimSystem.Models.Claim

<form asp-action="SubmitClaim" asp-controller="Home">
    <label>Hours worked</label>
    <input class="form-control" type="number" placeholder="10" asp-for="HoursWorked" />

    <label class="mt-4">Hourly rate</label>
    <input class="form-control" type="number" placeholder="R75.00" asp-for="HourlyRate" />

    <label class="mt-4">Additional notes</label>
    <input class="form-control" type="text" placeholder="additional-notes" asp-for="AdditionalNotes" />

    <label class="mt-4">Supporting documents (optional)</label>
    <input class="form-control" type="file" accept=".pdf,.docx,.xls,.xlsx" asp-for="SupportingDocument" />

    <button class="mt-4 px-4 py-2 bg-primary border-0 rounded text-white" type="submit">Submit</button>
</form>