@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1 class="display-4">Welcome</h1>
    
    <table>
        <thead>
            <tr>
                <th>ClaimID</th>
                <th>claimAmount</th>
                <th>Description</th>
                <th>Status</th>
                <th>submissionDate</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>001</td>
                <td>R2500.00</td>
                <td>Description 1</td>
                <td>Pending</td>
                <td>22-05-1998</td>
            </tr>

            <tr>
                <td>002</td>
                <td>R1800.00</td>
                <td>Description 2</td>
                <td>Approved</td>
                <td>28-05-1998</td>
            </tr>

            <tr>
                <td>003</td>
                <td>R3400.00</td>
                <td>Description 3</td>
                <td>Approved</td>
                <td>07-06-1998</td>
            </tr>

            <tr>
                <td>004</td>
                <td>R730.00</td>
                <td>Description 4</td>
                <td>Rejected</td>
                <td>16-06-1998</td>
            </tr>

            <tr>
                <td>005</td>
                <td>R1900.00</td>
                <td>Description 5</td>
                <td>Pending</td>
                <td>23-06-1998</td>
            </tr>
        </tbody>

    </table>

</div>