
@{
    ViewData["Title"] = "Profile Page";
}

<h2>Edit Profile</h2>

<br>

<h4>Current Information</h4>
<b>Full Name: Nelson Madiba Mandela</b>
<p>Email Address: Nelson1994@gmail.com</p>


<form asp-action="UpdateProfile" asp-controller="Home">
    <label class="mt-4">First Name(s)</label>
    <input class="form-control" type="text" placeholder="Nelson Madiba" />

    <label class="mt-2">Last Name</label>
    <input class="form-control" type="text" placeholder="Mandela" />

    <label class="mt-2 mb-2">Email Address</label>
    <input class="form-control" type="text" placeholder="" />

    <a href="" style="text-white">Request Link to change your Password by clicking <span style="text-primary">Here</span>.</a>

    <br>

    <button class="mt-4 px-4 py-2 bg-primary border-0 rounded text-white" type="submit">Update</button>
</form>